*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* border: 2px solid blue; */
    width: 100%;
    font-family: sans-serif;
}

.footer-nav{
    background-color: #000000;
    padding: 10px 0px;
}

#calendly-inline-widget{
    cursor: pointer;
    text-align: center;
}

#calendly-inline-widget p{
    text-decoration: none;
    font-size: 20px;
    text-align: center;
}



.Simplilearn-Solution{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.Simplilearn-Solution p{
    color: #51565e;
    font-size: 14px;
    line-height: 1.57;
    font-weight: normal;
    font-style: normal;
}

#fa-down{
    font-size: 12px;
    color: #51565e;
}

.Footer-container{
    background: #1A1A1A;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.Refer-and-Earn-heading{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    padding: 50px 0px 0px;
}

.Refer-and-Earn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.Refer-and-Earn p{
    margin-bottom: 11px;
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    line-height: 1.57;
}

.Refer-btn{
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 5px;
    background: transparent;
    color: #ccc;
    font-size: 14px;
    font-weight: 600;
    display: block;
    margin: 0 auto 20px;
    border: 1px solid #777;
}

.Refer-btn:hover{
    background-color: #fff;
}

.location-arrow{
    display: flex;
    align-items: center;
    gap: 15px;
}

#facebook{
    color: #fff;
    font-size: 25px;
}

#facebook:hover{
    color: #118AEF;
}

#youtube{
    color: #fff;
    font-size: 25px;
}

#youtube:hover{
    color: red;
}

.Alumni-speak{
    display: none;
    grid-template-columns: 1fr 1fr;
    padding: 0px 20px;
    gap: 50px 20px;
    margin-top: 40px;
}

.Newsroom h3{
    margin-bottom: 11px;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    line-height: 1.57;
}

.Newsroom p{
    color: rgba(255, 255, 255, .5);
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
    margin: 15px 0px;
}

.Android-App{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px 0px;
}

.Android-App h3{
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    line-height: 1.57;
}

.Android-Heading{
    margin: 20px 0px;
}

.Android{
    border: 1px solid green;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    border-radius: 5px 5px 0px 0px;
    border: 1px solid #777;
    cursor: pointer;
}

.Android p{
    color: #ccc;
    margin: 0 auto;
    font-size: 14px;
    font-weight: 300;
    line-height: 32px;
}

#Android-icon{
    font-size: 14px;
    color: #fff;
}

.Android2{
    border: 1px solid #777;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    border-radius: 0px 0px 5px 5px;
    cursor: pointer;
}

#Android-icon2{
    font-size: 20px;
    color: #fff;
}

.Android2 p{
    color: #ccc;
    margin: 0 auto;
    font-size: 14px;
    font-weight: 300;
    line-height: 32px;
}

.Trending-Post-Container{
    padding: 20px;
    display: none;
}

.Trending-Post{
    margin-top: 70px;
}
.Trending-Post h3{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.57;
    margin-bottom: 24px;
}

.Trending-Post p{
    color: #969696;
    font-size: 14px;
    display: inline !important;
    margin: 0 4px;
    letter-spacing: .03em;
    line-height: 25px;
    cursor: pointer;
}

.Terms-Conditions-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 20px 80px;
    /* border: 2px solid red; */
}



.Terms-Conditions ul{
    display: flex;
    justify-content: center;
}

.Terms-Conditions ul li{
    list-style: none;
    font-size: 14px;
    color: rgba(255, 255, 255, .5);
    line-height: 25px;
    cursor: pointer;
    font-weight: normal;
    font-style: normal;
}

.Nigeria{
    display: flex;
    justify-content: flex-end;
    /* margin-top: -25px; */
}

#country-selector{
    width: 35%;
    padding: 10px 15px 10px 10px;
    border-radius: 5px;
    background: transparent;
    color: #fff;
}

.Twenty-four{
    text-align: center;
}

.Twenty-four p{
    display: block;
    color: rgba(255, 255, 255, .5);
    font-size: 11px;
    font-weight: 400;
    line-height: 1.43;
    margin: 5px 0px;
}

.Disclaimer{
    padding: 20px ;
    display: none;
}

.Disclaimer h3{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.57;
    margin-bottom: 14px;
}

.Disclaimer ul li{
    /* color: #fff; */
    color: rgba(255, 255, 255, .5);
    font-size: 8.5px;
    font-weight: 400;
    line-height: 1.57;
    /* margin-bottom: 24px; */
    margin-left: 12px;
}

@media (min-width:700px) {

    .Simple-Learn-Container{
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
    }

    .footer-nav{
        background-color: #000000;
        padding: 10px 0px;
        display: none;
    }
    
    .Simplilearn-Solution{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    
    .Simplilearn-Solution p{
        color: #51565e;
        font-size: 14px;
        line-height: 1.57;
        font-weight: normal;
        font-style: normal;
    }
    
    #fa-down{
        font-size: 12px;
        color: #51565e;
    }
    
    .Footer-container{
        background: #1A1A1A;
    }
    
    .Refer-and-Earn-heading{
        display: flex;
        flex-direction: row;
        gap: 40px;
        padding: 50px 120px 0px;
    }
    
    .Refer-and-Earn{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        
    }
    
    .Refer-and-Earn p{
        margin-bottom: 11px;
        font-size: 18px;
        color: #fff;
        font-weight: 400;
        line-height: 1.57;
        text-align: left;
    }
    
    .Refer-btn{
        cursor: pointer;
        padding: 10px 15px;
        border-radius: 5px;
        background: transparent;
        color: #ccc;
        font-size: 14px;
        font-weight: 600;
        display: block;
        margin: 0 auto 20px;
        border: 1px solid #777;
    }
    
    .Refer-btn:hover{
        background-color: #0E0B14;
        color: #fff;
    }

    
    

    #calendly-inline-widget{
        text-align: center;
        /* border: 2px solid red; */
    }

    #calendly-inline-widget p{
        text-decoration: none;
        font-size: 20px;
        text-align: center;
    }
    
    .location-arrow{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        gap: 5px;
    }
    
    #facebook{
        color: #fff;
        font-size: 25px;
    }
    
    #facebook:hover{
        color: #118AEF;
    }
    
    #youtube{
        color: #fff;
        font-size: 25px;
    }
    
    #youtube:hover{
        color: red;
    }
    
    .Alumni-speak{
        display: none;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 0px 20px;
        gap: 50px 20px;
        margin-top: 0px;
    }
    
    .Newsroom h3{
        margin-bottom: 11px;
        font-size: 16px;
        color: #fff;
        font-weight: 400;
        line-height: 1.57;
    }
    
    .Newsroom p{
        color: rgba(255, 255, 255, .5);
        font-size: 14px;
        line-height: 20px;
        cursor: pointer;
        margin: 15px 0px;
    }
    
    .Android-App{
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin: 0px 0px;
    }
    
    .Android-App h3{
        font-size: 16px;
        color: #fff;
        font-weight: 400;
        line-height: 1.57;
    }
    
    .Android-Heading{
        margin: 20px 0px;
    }
    
    .Android{
        border: 1px solid green;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px 15px;
        border-radius: 5px 5px 0px 0px;
        border: 1px solid #777;
        cursor: pointer;
    }
    
    .Android p{
        color: #ccc;
        margin: 0 auto;
        font-size: 14px;
        font-weight: 300;
        line-height: 32px;
    }
    
    #Android-icon{
        font-size: 18px;
        color: #fff;
    }
    
    .Android2{
        border: 1px solid #777;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px 15px;
        border-radius: 0px 0px 5px 5px;
        cursor: pointer;
    }
    
    #Android-icon2{
        font-size: 20px;
        color: #fff;
    }
    
    .Android2 p{
        color: #ccc;
        margin: 0 auto;
        font-size: 14px;
        font-weight: 300;
        line-height: 32px;
    }
    
    .Trending-Post-Container{
        padding: 20px 120px;
    }
    
    .Trending-Post{
        margin-top: 70px;
    }
    .Trending-Post h3{
        color: #fff;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.57;
        margin-bottom: 24px;
    }
    
    .Trending-Post p{
        color: #969696;
        font-size: 14px;
        display: inline !important;
        margin: 0 4px;
        letter-spacing: .03em;
        line-height: 25px;
        cursor: pointer;
    }
    
    .Terms-Conditions-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px 20px 80px;
        /* border: 2px solid red; */
    }
    
    
    
    .Terms-Conditions ul{
        display: flex;
        justify-content: center;
    }
    
    .Terms-Conditions ul li{
        list-style: none;
        font-size: 14px;
        color: rgba(255, 255, 255, .5);
        line-height: 25px;
        cursor: pointer;
        font-weight: normal;
        font-style: normal;
    }
    
    .Nigeria{
        display: flex;
        justify-content: flex-end;
        /* margin-top: -25px; */
    }
    
    #country-selector{
        width: 35%;
        padding: 10px 15px 10px 10px;
        border-radius: 5px;
        background: transparent;
        color: #fff;
    }
    
    .Twenty-four{
        text-align: center;
    }
    
    .Twenty-four p{
        display: block;
        color: rgba(255, 255, 255, .5);
        font-size: 11px;
        font-weight: 400;
        line-height: 1.43;
        margin: 5px 0px;
    }
    
    .Disclaimer{
        padding: 20px 120px;
        border-top: 1px solid #51565e;
    }

    
    .Disclaimer h3{
        color: #fff;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.57;
        margin-bottom: 14px;
        margin-top: 20px;
        
    }
    
    .Disclaimer ul li{
        /* color: #fff; */
        color: rgba(255, 255, 255, .5);
        font-size: 8.5px;
        font-weight: 400;
        line-height: 1.57;
        /* margin-bottom: 24px; */
        margin-left: 12px;
    }
}